.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.single-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 24%;
    min-width: 250px;
}

.single-card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    text-transform: capitalize;
}

/* Jadval uslublari */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

thead {
    background-color: #f1f1f1;
}

thead tr {
    border-bottom: 2px solid #ddd;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Tugmalar uchun umumiy uslublar */
.btns-wrapper {
    display: flex;
    gap: 10px;
}

.btn-cars,
.btn-edit,
.btn-trash {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cars {
    background-color: #007bff;
    color: white;
}

.btn-edit {
    background-color: #ffc107;
    color: white;
}

.btn-trash {
    background-color: #dc3545;
    color: white;
}

.btn-cars:hover {
    background-color: #0056b3;
}

.btn-edit:hover {
    background-color: #e0a800;
}

.btn-trash:hover {
    background-color: #c82333;
}





.btns-wrp{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}